.cols-3{
    width:72vw;
}
.cols-2{
    width:48vw;
}
.cols-1{
    width:24vw;
}
.cols-3,.cols-2,.cols-1{
border-color:black;
background-color:grey;
color:white;
height:10vw;
font-size: 1.5em;
}
#input1, #input2{
    display:block;
    width:96vw;
    height:5vw;
}
#input1{
    font-size: 0.8em;
    text-align: left;
}
#input2{
    font-size: 1.5em;
    text-align: right;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
div{
    margin:0 1vw;
}
button:hover{
    background-color:white;
    color:grey;
}